<p style="color: blue;"><%= notice %></p><
br>
<h1>Comment Update</h1>
<br>
<%= render "form", comment: @comment %>

<br>

<div>
  <%= link_to "show item", item_path(@comment.item) %> |
  <%= link_to "Top", root_path %>
</div>
