<header>
  <div class="site-header" style="background-color: #F498EF; color: #CFF620; font-size: 20px; font-family: 'Itim', cursive; padding: 20px; display: flex; justify-content: space-between; align-items: center;">
    <div style="flex-grow: 1; text-align: center;">
      <h1 style="margin: 0;">ちいかわ Item Collection</h1>
    </div>
  <nav>
    <div class="d-flex">
        <%= link_to '新規登録', new_user_path, class: "nav-link me-2" %>
        <%= link_to 'ログイン', login_path, class: "nav-link" %>
    </div>
  </nav>
  </div>
</header>