<header>
  <div class="site-header" style="background-color: #F498EF; color: #CFF620; font-size: 20px; font-family: 'Itim', cursive; padding: 20px; text-align: center;">
  <h1>ちいかわ Item Collection</h1>
  <nav>
    <!-- ナビゲーションメニュー -->
  </nav>
</div>
</header>