<% @items.each do |item| %>
  <div class="item-thumbnail">
    <!-- サムネイル画像 -->
    <% if item.image_url? %>
      <%= image_tag item.image_url.url, size: "250x350", alt: item.name %>
    <% else %>
      <%= image_tag "no_image.png", size: "250x350", alt: "No image available" %>
    <% end %>
  </div>
<% end %>