<style>
        /* CSSのスタイル */
    body {
    font-family: "Itim", cursive;
    background-color: #FFD4FD;
    color: #15A3F5;
    font-size: 32px;
    margin: 0;
    text-align: center; /* h1のテキストを中央寄せ */
        }

        h1 {
            margin: 0;
        }


    @media screen and (max-width: 767px) {
    font-size: 2.0rem;
        }
    }

</style>

<body>
 <h1>ちいかわファンの集い場</h1>

</body>