<body>
    <br>
    <br>
    <div class="button-wrapper">
        <button style="background-color: #8515F5; color: white; padding: 10px 20px; border: none; border-radius: 5px;">
            <%= link_to "アイテム登録はこちら", new_item_path, style: "color: inherit; text-decoration: none;" %>
        </button>
    </div>
   <%= render "list", item: @item %>
    <br>
    <br>
    <%= @items.count %>件のアイテムが見つかりました。
    <%= paginate @items %>
</body>