@use "application.bootstrap";

// ヘッダーや全体のスタイル
.header {
    background-color: #F498EF;
    color: #CFF620;
    padding: 20px;
    text-align: center;
  
    h1 {
      margin: 0;
    }
  }
  
  body {
    font-family: "Itim", cursive;
    background-color: #FFD4FD;
    color: #15A3F5;
    font-size: 32px;
    margin: 0;
  }
  @media screen and (max-width: 767px) {
    font-size: 2.0rem;
  }
