.top-wrapper {
    background-color: #FFD4FD; // 背景色を設定

    .top-inner-text {
      text-align: center;
      font-size: 36;
      color: #15A3F5; // 文字色を設定
      font-family: "Itim", cursive; // フォントを設定
  
      @media screen and (max-width: 767px) {
        font-size: 2.0rem;
      }
    }
}